@import "tailwindcss";

:root {
  --background: #030304;
  --foreground: #EAEAEA;
  --accent-primary: #D4AF37;
  --accent-secondary: #F3E5AB;
}

body {
  background: var(--background);
  color: var(--foreground);
}
